<h1>Welcome to the about page</h1>
<p>
I created this blog in Udemy training in order to learn how to integrate react components. I then worked on additional options.</p>

<%= link_to 'Home', root_path %>
