<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="https://github.com/VirAlex">Integration React with Rails</a>
    by <em><a href="https://github.com/VirAlex">Viretti Alexandre</a></em>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
